// desktop font-sizes //

@mixin desktopBtn {
	font-weight: 600;
	font-size: 0.8em;
	line-height: 19px;
	text-transform: capitalize;
}

@mixin desktopBody {
	font-weight: 400;
	font-size: 1em;
	line-height: 24px;
	color: $white;
}

@mixin desktopH3 {
	font-weight: 400;
	font-size: 1.56em;
	line-height: 38px;
	text-align: center;
	color: $white;
}

@mixin desktopH2 {
	font-weight: 700;
	font-size: 1.95em;
	line-height: 37px;
	text-transform: uppercase;
	color: $brand;
}

@mixin desktopH1 {
	font-weight: 700;
	font-size: 2.44em;
	line-height: 58px;
	text-transform: uppercase;
}

@mixin display {
	font-weight: 700;
	font-size: 3em;
	line-height: 55px;
	text-transform: capitalize;
	color: $brand;
}

// mobile //

@mixin mobileBtn {
	font-weight: 500;
	font-size: 0.7em;
	line-height: 17px;
}

@mixin mobileBody {
	font-weight: 400;
	font-size: 0.8em;
	line-height: 24px;
}

@mixin mobileH3 {
	font-weight: 700;
	font-size: 1.3em;
	line-height: 33px;
}

@mixin mobileH2 {
	font-weight: 700;
	font-size: 1.7em;
	line-height: 41px;
	text-transform: uppercase;
}

@mixin mobileH1 {
	font-weight: 700;
	font-size: 2.137em;
	line-height: 112%;
	text-transform: uppercase;
}

// common //

@mixin subtitle {
	font-weight: 400;
	font-size: 0.8em;
	line-height: 125%;
	text-align: center;
	text-transform: capitalize;
	color: $white;
}

// components //

// cta btn //

// @mixin cta {
// 	@include desktopBtn();
// 	padding: 20px 40px;
// 	margin-top: 60px;
// 	background-color: $brand;
// 	text-align: center;
// 	width: 14rem;
// 	cursor: pointer;

// 	@media (max-width: 992px) {
// 		a {
// 			display: inline-block;
// 			width: 100%;
// 			border: 1px solid red;
// 		}
// 	}
// }

@mixin cta {
	@include desktopBtn();
	padding: 20px 40px;
	margin-top: 60px;
	background-color: $brand;
	text-align: center;
	width: 14rem;
	cursor: pointer;
}

@mixin ctaLink {
	display: inline-block;
	width: 100%;
	// border: 1px solid red;
}

// hero section copy //

@mixin sectionCopy {
	h2 {
		@include desktopH2();
		margin-bottom: 30px;
	}
	p {
		@include desktopBody();
		margin-bottom: 16px;
	}
}

// card //

@mixin card {
	display: flex;
	flex-direction: column;
}
