@import '_colors';

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	// font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;

	@media (max-width: 992px) {
		scroll-padding-top: 2rem;
	}
}

a {
	text-decoration: none;
	color: $white;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: 1px solid rgba(195, 149, 21, 0.25);
}
