@import '_reset';
@import '_colors';
@import '_mixins';

body {
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	background-color: $black;

	// buttons and hover variables //
	.button {
		color: $black;
	}
	button {
		transition: background-color 0.2s;
	}

	button:hover {
		background-color: $brandHover;
	}

	a:hover {
		color: $brandHover;
	}

	a {
		transition: color 0.3s;
	}
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// navigation //

.home {
	display: none;
	position: fixed;
	width: 3rem;
	left: 0;
	bottom: 0;
	padding: 0.5rem 0;
	margin: 0 0 1rem 1rem;
	transform: rotate(180deg);
	mix-blend-mode: screen;
}

.hamburger {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	mix-blend-mode: screen;
}

.mobile_nav {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	left: 0;
	background-color: $black;
	transition: left 0.3s 0.1s ease-in-out;
	z-index: 10;
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		align-items: center;
		// margin-top: 15%;
		height: 100%;
		width: 100%;
	}
	&__item {
		@include mobileH3;
		color: $white;
		margin-bottom: 2rem;
		list-style: none;
	}
	&__closeBtn {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 11;
	}
	&__logo {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		padding: 2rem;
		img {
			width: 7rem;
		}
	}
}

.hidden {
	left: 100%;
}

.scroll {
	overflow-y: hidden;
}

.nav {
	position: fixed;
	z-index: 1;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90px;
	scroll-padding: 90px;
	background: rgba(14, 14, 14, 0.5);
	&__items {
		display: flex;
		// flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 11px 0;
	}

	&__links {
		a {
			padding: 20px 20px;
		}
	}

	&__call {
		display: flex;
		align-items: center;
		a {
			color: $brand;
		}
	}
}

// main content //

// hero //
.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	margin-bottom: 100px;
	background-image: url('../img/hero.jpg');
	background-size: cover;
	z-index: 0;
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, #0e0e0e 0%, rgba(11, 11, 11, 0) 100%);
		transform: rotate(180deg);
	}
	&__chevron {
		position: absolute;
		top: 85vh;
		left: 50%;
		transform: translateX(-50%);
		padding: 1rem;
	}
	&__content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
	}
	&__title {
		@include desktopDisplay;
		margin-bottom: 1rem;
	}
	&__copy {
		@include desktopBody;
	}
	&__ctaBtn {
		@include cta;
	}
}

// main //
.main {
	@include sectionCopy;
	h3 {
		margin-top: 1rem;
	}
	p:last-of-type {
		padding-bottom: 3rem;
	}
	&__section {
		margin-bottom: 6rem;
	}

	&__gallery {
		display: flex;
		justify-content: space-between;
	}
	.gallery_img {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	&__item {
		@include card;
		justify-content: space-between;

		&--about {
			@include desktopH3;
			overflow: hidden;
			padding: 1rem;
			h3 {
				display: flex;
				justify-content: center;
			}
		}
		&--services {
			@include subtitle;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 1rem 1rem;
			.service {
				overflow: hidden;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
	&__cta {
		display: flex;
		justify-content: center;
	}
	&__ctaBtn {
		@include cta;
	}

	&__store {
		.gallery_img {
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

// policy privacy //

.home_btn {
	display: none;
	transform: rotate(90deg);
	padding: 1rem 0;
}

.privacy {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__main {
		padding: 2rem 0;
		list-style: inside;
	}
	&__title {
		@include desktopH1;
		color: $brand;
	}
	&__copy {
		margin: 2rem 0;
		color: $white;
	}
	li {
		@include desktopBody;
		margin-top: 2rem;
		color: $white;
	}
	li::marker {
		color: $brand;
		font-weight: bold;
	}
	.footer {
		&__hr {
			margin: 2rem 0;
		}
	}
}

// footer //
.footer {
	padding: 2rem 0;
	.footer_item {
		padding: 0 1rem;
	}
	.copyright {
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
		&__item {
			@include subtitle;
			width: 100%;
			margin-top: 0.5rem;
			&--privacy {
				display: none;
			}
		}
		a {
			@include subtitle;
		}
	}

	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__links {
		.footer_link {
			padding: 1rem 0 0 0;
		}
		.footer_link::after {
			content: '|';
			padding: 0 1rem;
			color: $white;
		}
		.footer_link:last-child:after {
			content: '';
			padding: 0;
		}
	}

	&__contact {
		@include desktopBody;
	}
}

// media queries //

@media (max-width: 1400px) {
	.wrapper {
		padding: 0 5vw;
	}
}

@media (max-width: 992px) {
	body {
		.button {
			@include ctaLink;
			display: flex;
			justify-content: center;
		}
	}
	.nav {
		display: none;
	}

	.home {
		display: block;
	}

	.hamburger {
		display: block;
	}

	.mobile_nav {
		&__logo {
			display: block;
		}
	}

	.hero {
		&__content {
			position: absolute;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			width: 80vw;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			@include mobileDisplay;
			text-align: center;
		}
		&__copy {
			text-align: center;
		}
	}
	.main {
		a {
			@include mobileBody;
		}
		&__section {
			margin-bottom: 4rem;
		}

		&__item {
			&--services {
				@include subtitle;
				display: grid;
			}
		}
	}
	.footer {
		.footer_item {
			margin: 1rem 0;
		}
		&__container {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__links {
			display: none;
		}
		.copyright {
			&__item {
				&--privacy {
					display: block;
				}
			}
		}
	}

	.home_btn {
		display: block;
	}
}

@media (max-width: 576px) {
	.hero {
		&__content {
			margin: 0;
		}

		&__title {
			text-align: left;
		}
		&__copy {
			text-align: left;
		}

		&__ctaBtn {
			width: 100%;
		}
	}
	.main {
		&__gallery {
			@include mobileBody;
		}
		&__item {
			&--services {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(2, 1fr);
				gap: 1rem 1rem;
			}
		}
	}
}
